body {
    display: flex;
    justify-content: center;
    align-content: center;
    
}


.main-wrapper {
    display: flex;
    width: 700px;
    height: 400px;
    background: grey;
    margin-top: 100px;
}

.playlists {
    background: red;
    width: 320px;
    height: 340px;
}

.actual-playlists{
    background: blue;
    width: 380px;
    height: 340px;
}