*{
    margin: 0;
    border: 0;
    padding: 0;
}

article{
    margin-bottom: 50px;
}

header{
    display: flex;
    flex-direction: column;
    position: fixed;
}


.name {
    /*display: block;*/
    font-size: 36px;
    color: #BA11E7;
    font-weight: 600;
    padding-bottom: 20px;
}

nav{
    position: fixed;
    padding-top: 50px;
}

nav ul{
    list-style: none;
    /*margin-left: 50px;*/
    display: flex;
    flex-direction: column;
    background: #FAB; 
    box-shadow: 5px 5px 40px 20px #FAB;
    width: 1519px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    text-decoration-line: none;
    color: #3461E5;
    font-weight: 900;
}

.menucontainer {
    font-size: 20px;
}
main {
    /*width: 500px;*/
    max-width: 780px;
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
    line-height: 1.5;
    position: relative;
    /*
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 2rem;
    font-family: 'Josefin Sans', sans-serif;*/
}

.work {
    padding: 50px 40px 35px 40px;
    background: rgba(255, 255, 255, 0.1);
}

.tools ul {
    list-style: none;
    width: 20px;
    padding: 50px 40px 50px 40px;
    /*background: linear-gradient(to top, red 0%, blue 100%);*/
    color: white;
    background: rgba(255, 255, 255, 0.5);
}

/*li {
    width: 300px;
    background: tomato;
    this thing does almost the same as .toolcontainer but colors the background of all <a> of the list elements in the code so it is not practcal
}*/

.toolcontainer {
    width: 300px;
    /*background: linear-gradient(to top, red 0%, blue 100%);*/
    margin-left: 60px;
}

.schools {
    background: rgba(90,23,237,0.5);
    border-radius: 50%;
    /*padding-top: 120px; if you want to jump to a certain point of your web page manipulate the padding not the margin*/
}

.schoolcontainer {
    background: white;
    border-radius: 30%;
    background: linear-gradient(to right, grey 0%, #2ED 100%);
    /*padding: 10px;*/
    margin-top: 20px;
}

h1{
    background-size: 50px;
    color: #BA0BAB;
    font-family: 'Abril Fatface', cursive;
    background-color: rgba(186,255,30,0.8);
    /*width: 1080px;*/
    padding: 50px;
    margin-right: -40px;
    margin-left: -40px; 
    /*.work box has this 40px padding so margin-left -40px makes the backroundcolor of the h1 tag go to the edge of the .work box */
    letter-spacing: 4px;
    font-size: 36px;
    text-align: center;
}

h2{
    color: #FB1;
    font-weight: bold;
}

.company {
    margin-bottom: 50px;
}

p, h3, h4 {
    color: #0FF1CE;
}

p{
    font-size: 18px;
}

footer {
    /*max-width: 780px;*/
    font-family: 'Josefin Sans', sans-serif;
    /*margin: auto;*/
    line-height: 1.5;
    position: relative;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*padding: 30px;*/
    /*padding-left: -30px;*/
}

.contact {
    text-align: center;
    width: 1320px;
    /*width: 530px;*/
    height: 70px;
    margin-top: 75px;
    margin-left: 100px;
    padding-left: -90px;
    padding-top: 20px;
    /*margin-left: 120px; */
    font-family: sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #0FF1CE;  
    background: rgb(250,17,237);
    /*border: 1px solid #AFFA12;*/
    box-shadow: 1px 1px 30px 10px #FA11ED;  
    box-shadow: 0px 0px 20px 10px #0FF1CE;  
    text-shadow: 1px -1px 1px #000;
}
