
header {
    display: flex;
    background: #b02aff;
    height: 65px;
    width: 800px;
    margin: 0 auto;
    justify-content: flex-start;
}

ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    margin: 15px;
    margin-left: -30px;
}

.item{
    background: #35d9ff;
    height: 35px;
    width: 75px;
    margin-left: 15px;
}

.one{
    width: 175px;
}

.two{
    width: 75px;
}

.three{
    width: 105px;
}
.container {
    display: flex;
    height: 500px;
    width: 800px;
    background: #ffd62a;
    margin: 0 auto;
    flex-direction: row;
}

div {
    background: #51d400;
    height: 500px;
    width: 260px;
    justify-content: flex-end;
}

