.container {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 800px;
    background: #ffd62a;
    align-items: center;
    justify-content: space-between;
}

.item {
    background: #b02aff;
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-left: -40px;
    list-style: none;
}