* {
    margin: 0;
    border: 0;
    padding: 0;
}

header {
    width: auto;
    height: 70px;
    background: #00ffff;
}

.middle {
    width: auto;
    display: flex;   
}

.sidebar {
    min-width: 200px;
    height: 608px;
    position: relative;
}

.yellow {
    background: #fea500;    
}

.purple {
    background: #81007f;
}

.red {
    width: 80%;
    height: 608px;
    background: red;
    margin-left: 1%;
    margin-right: 1%;
 }
 
 .cube {
    width: 100px;
    height: 100px;
    background: black;
    position: relative;
    margin-top: 460px;
    margin-right: 70px;
    float: right;
}

footer {
    width: auto;
    height: 80px;
    background: #0000fe;
}