* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 65px;
    background: #b02aff;
}

ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.item {
    height: 35px;
    margin: 15px 15px;
    background: #35d9ff;
}

.oneblue {
    width: 105px;
    margin-left: 120px;
}

.twoblue {
    width: 75px;
}

.threeblue {
    width: 105px;
}

.fourblue {
    width: 75px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    margin: 0 auto;
}

.flex-container-1, .flex-container-2 {
    display: flex;
}

.green1, .green2, .green3 {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    width: 100%;
    height: 500px;
    border: 10px solid white;   
    background: #51d400;
    overflow: auto;
}

.green3 {
    margin-top: 0;
}

h2 {
    margin: 30px 30px 10px 30px;
}

p {
    margin: 15px 30px 10px 30px;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}

.green4, .green5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 500px;
    border: 10px solid white;
    background: #51d400;
}

.red1, .red2 {
    width: 150px;
    height: 300px;
    background: red;
}

footer {
    margin: 0 auto;
    width: 1285px;
    height: 65px;
    background: grey;
    border: 10px solid white;   
}
