* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 65px;
    background: #b02aff;
}

ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.item {
    flex-basis: auto;
    height: 35px;
    margin: 15px 15px;
    background: #35d9ff;
}

.oneblue {
    width: 125px;
    margin-left: 7.6vw;
}

.twoblue {
    width: 105px;
}

.threeblue {
    width: 125px;
}

.fourblue {
    width: 105px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    margin: 0 auto;
}

.flex-container-1, .flex-container-2 {
    display: flex;
}

.green1, .green2, .green3 {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    width: 100%;
    height: 32.5vw;
    border: 10px solid white;   
    background: #51d400;
    overflow: auto;
}

.green1::-webkit-scrollbar {
    width: 0.5em;
}

.green1::-webkit-scrollbar-track {
    background-color: yellow;
    /*-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.8);*/
}
 
.green1::-webkit-scrollbar-thumb {
  background-color: violet;
  /*outline: 1px solid yellow;*/
}

.green2::-webkit-scrollbar {
    width: 0.5em;
}

.green2::-webkit-scrollbar-track {
    background-color: yellow;
    /*-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.8);*/
}
 
.green2::-webkit-scrollbar-thumb {
  background-color: indigo;
  /*outline: 1px solid yellow;*/
}

.green3::-webkit-scrollbar {
    width: 0.5em;
}

.green3::-webkit-scrollbar-track {
    background-color: yellow;
    /*-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.8);*/
}
 
.green3::-webkit-scrollbar-thumb {
  background-color: pink;
  /*outline: 1px solid yellow;*/
}

.green3 {
    margin-top: 0;
}

h2 {
    margin: 30px 30px 10px 30px;
}

p {
    margin: 15px 30px 10px 30px;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}

.green4, .green5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48.3%;
    height: 32.5vw;
    border: 10px solid white;
    background: #51d400;
}

.red1, .red2 {
    width: 10vw;
    height: 20vw;
    background: red;
}

footer {
    margin: 0 auto;
    width: 84.1vw;
    height: 65px;
    background: grey;
    border: 10px solid white;   
}
